.loading-indicator {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
}

.loading-indicator:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid red;
    border-color: red transparent red transparent;
    animation: loading-indicator 1.2s linear infinite;
}

@keyframes loading-indicator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
